<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StockOut">
    
    <select id="getAllStockOuts" resultType="com.inventory.repositories.vo.StockOutVo">
        SELECT
            so.out_id as outId,
            bl.book_name as bookName,
            so.quantity,
            so.out_date as outDate,
            so.comments,
            so.branch_id as branchId
        FROM
            stock_out so
        JOIN
            book_list bl ON so.book_code = bl.book_code
    </select>
    
</mapper>
