/* Global Styles */
body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
	color: #333;
}

h1 {
	color: #333333; /* 검은색으로 변경 */
	font-size: 2em;
	margin-bottom: 10px;
}

p {
	font-size: 1.2em;
	margin: 5px 0 15px 0;
}

/* Navigation Bar Styles */
nav {
	background-color: #333333; /* 검은색으로 변경 */
	color: white;
	padding: 15px;
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 0 10px;
}

nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	text-decoration: underline;
}

/* Main Content Styles */
.content {
	padding: 20px;
	margin: 20px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h1 {
	border-bottom: 2px solid #333333; /* 검은색으로 변경 */
	padding-bottom: 5px;
	margin-bottom: 15px;
}

/* Table Styles */
table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

/* Button Styles */
button {
	padding: 5px 10px;
	margin-right: 5px;
	cursor: pointer;
}

.approve {
	background-color: #4CAF50;
	color: white;
}

.reject {
	background-color: #f44336;
	color: white;
}

.add {
	background-color: #32CD32;
	color: white;
}

.add:hover {
	background-color: #228B22; /* DarkGreen	#228B22 */
}

/* Footer Styles */
footer {
	background-color: #333333; /* 검은색으로 변경 */
	color: white;
	text-align: center;
	padding: 10px;
	position: fixed;
	width: 100%;
	bottom: 0;
}

/* 수정 버튼 스타일 */
.update {
	background-color: #008CBA; /* 파란색 */
	color: white;
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block; /* 버튼처럼 보이게 하기 위한 추가 */
}

.update:hover {
	background-color: #005f6b; /* 다크 블루 */
}

/* 삭제 버튼 스타일 */
.delete {
	background-color: #f44336; /* 빨간색 */
	color: white;
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block; /* 버튼처럼 보이게 하기 위한 추가 */
}

.delete:hover {
	background-color: #c62828; /* 다크 레드 */
}