body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form, .message-box {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #5cb85c;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}

.message-box p {
    font-size: 18px;
    color: #555;
    margin: 20px 0;
}

.message-box a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.message-box a:hover {
    background-color: #4cae4c;
}
